<%= form_for(@room) do |f| %>
  <% if @room.errors.any? %>
    <div id="error_explanation">
      <h2>Infelizmente não foi possível completar
     a ação pois o formulário possui os seguintes erros:</h2>
      <ul>
      <% @room.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <p>
      <%= f.label :title %>
      <%= f.text_field :title %>
      <%= error_tag @room, :title %>
    </p>
    
    <p>
      <%= f.label :location %>
      <%= f.text_field :location %> 
      <%= error_tag @room, :location %>           
    </p>

    <p>
      <%= f.label :description %>
      <%= f.text_area :description %>
      <%= error_tag @room, :description %>          
    </p>

    <div>
       <%= f.label :picture %>
       <%= f.file_field :picture %>
       <%= error_tag @room, :picture %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
